/* ── About Section ──────────────────────────────── */
#aboutMe {
  width: calc(var(--header-scale) * 85vw);
  height: 85vh;
  overflow: hidden;
}

/* ── About Title ────────────────────────────────── */
#aboutTitle {
  font-size: clamp(10px, 1.3vw, 80px);
}

#aboutTitle::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 0px;
  background: #c8f04a;
  vertical-align: middle; /* alinha verticalmente com o texto */
  margin-right: 7px; /* espaço entre a linha e o texto */
  animation: beforeLineGrow 1.6s 0.8s ease forwards;
}

/* ── About Hello ────────────────────────────────── */
#aboutHello {
  position: relative;
  font-size: clamp(10px, 3.5vw, 80px);
  font-weight: 800;
  margin: 15px 0px;
  margin-top: 8px;
}

#aboutHello::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #c8f04a;
  animation: afterLineGrow 3.4s 0.5s ease forwards;
}

/* ── Name ───────────────────────────────────────── */
.name {
  position: relative;
  color: var(--accent);
  display: inline-block;
}

/* ── lines ─────────────────────────────────── */
.text {
  display: flex;          
  flex-wrap: wrap;        
  overflow: hidden;       
  font-size: 17px;
  margin-left:clamp(7px, 1vw, 20px) ;    
  font-size: clamp(6px, 1.4vw, 40px); 
}

.linha {
  display: inline-block;                    /* permite width e height sem quebrar linha */
  transform: translateY(100%);              /* começa abaixo do container */
  opacity: 0;                               /* começa invisível */
  animation: linhaUp 0.4s ease forwards;   /* sobe e aparece */
}

.linha::after {
  content: "\00a0"; /* espaço não quebrável entre as palavras durante a animação*/
}

@media (width > 600px){ #aboutMe{height: 87vh;}}
/* ── Animations ─────────────────────────────────── */
@keyframes linhaUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes beforeLineGrow {
  from {
    width: 0;
  }

  to {
    width: 2.5vw;
  }
}

@keyframes afterLineGrow {
  from {
    width: 0;
  }

  to {
    width: 40vw;
  }
}