#navigation_list li a::after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    width: 10%;
    height: 3px;
    background-color: var(--accent);
    transform: translateX(-50%);
}

#navigation_list li a::after {
    width: 0;
    transition: 0.5s;
}

#navigation_list li a:hover::after {
    width: 60%;
}
#navigation_list li a:hover {
  color: var(--accent);
  transition: 0.3s;
}

/* =========================
   HEADER NAVIGATION
   ========================= */

#navigation_list{
  flex-wrap: wrap;  
  gap: 0px 20px;
}

.c-nav-link {
  text-decoration: none;
  padding-block: 16px;
  font-weight: bold;
  color: black; /* depois variável */
}