#navigation_list li a {
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  paint-order: stroke fill;
  transform: translateY(0px);
  transition: 
    color var(--nav-link-duration) ease 0s,
    padding-bottom,
    -webkit-text-stroke-width var(--nav-link-duration),
    transform var(--nav-link-duration) ease;
}

#navigation_list li a:hover {
  color: var(--accent);
  padding-bottom: 5px; /* ← reserva o espaço que vai "subir" */
  -webkit-text-stroke-width: 7px;
}


