/* layout */
.o-flex-between {
  display: flex;
  justify-content: space-between;
}

/* imagem quadrada responsiva */
.o-square-img-sm {
  width: clamp(60px, 5vw, 120px);
  aspect-ratio: 1/1;
  margin: 0 2%;
}

/* Lista sem estilo */
.o-list-clean {
  list-style: none;
  padding: 0;
  margin: 0;
}

.o-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}