/* ────── VARIAVEL ─────────────── */
:root {

  --header-scale: 0.75;

  /* Typography */
  --font-base: system-ui, sans-serif;
  --color-text: #111;

  /* Colors */
  --color-primary: #c8eac9;
  --color-secondary: #3f3f3fdd;

  /*  */
  --accent: #c8f04a;

  /* ← variável de tempo */
  --nav-link-duration: 0.2s;
}