/* =========================================
   LIST OBJECTS
   Reset e estrutura de listas
========================================= */

.o-list-clean {
  list-style: none;
  padding: 0;
  margin: 0;
}