/* settings of the 'main layout '  */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutMe {
    width: calc(var(--header-scale) * 80vw);
    overflow: hidden;

    -webkit-mask-image: linear-gradient(to bottom, black var(--mask), transparent);
    mask-image: linear-gradient(to bottom, black var(--mask), transparent);
}